<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Кофейня Starbucks{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="navbar">
                <a href="{% url 'home' %}" class="logo">Starbucks</a>
                <nav class="menu">
                    <a href="{% url 'coffee_list' %}">Ингредиенты</a>
                    <a href="{% url 'cart_detail' %}">Рецепты</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>© 2025 Starbucks Coffee Company. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>